# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.env/

# VSCode
.vscode/

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Log files
*.log

# dotenv secrets
.env
