# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env
*.env

# Data / Model outputs
data/faiss_index.bin
data/*.pkl
*.log
*.csv
data/*.csv
data/*.bin

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Demo / Cache
assets/

*.bin

